.todos {
    border: $grey-border;
    width: 100%;
    header {
        padding: $l-size $s-size $s-size;
        font-size: $xl-size;
        border-bottom: $grey-border;
    }
    &-item {
        display: flex;
        align-items: center;
        padding: 15px;
        border-bottom: $grey-border;
        .box {
            word-break: break-all;
        }
    }
}


.garbage {
    margin-left: auto;
    border-radius: 60%;
    border: none;
}
