.todos {
    border: $grey-border;
    width: 100%;
    header {
        padding: $l-size $s-size $s-size;
        font-size: $xl-size;
        border-bottom: $grey-border
    }
}

.todo-item {
    display: flex;
    padding: 15px;
}

.garbage {
    margin-left: auto;
    border-radius: 60%;
    border: none;
}
