// Colors
$green: #60b9b0;
$pale-grey: #e8e8e8;
$black: black;
$white: white;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$breakpoint-desktop: 45rem;

// Borders
$grey-border: 1px solid $pale-grey;
$checkbox-border: 1px solid $black;